
.center_content {
    padding : 1em;
    position: relative;    
    width: 100%;
}

.content-wrapper {
    padding: 0;
    background-color: #e1e1db;
}

.tuto_content {
    position: relative;
    font-size: 20px;
    width: 90%;
    scrolling: false;
}

.container {
    width: 85%;
    margin: auto;
}

.line_pre {
    padding: 0.4em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    font-size: 17px;
    word-break: normal;
    white-space: pre;    
    color: #474747;
    width: 100%;
    border-radius: 0;
    border-color: #FFFFFF;
}

code {
    padding: 0.2em;
    margin: 0;
    font-size: 85%;
    color: #777777;
    border-radius: 0;
}

hr {
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #aaaaaa;
}


.next-right {
    position: relative;
    display: inline-block;
    align: right;
    margin: auto;
}

.next_link {
    float: right;
    text-align: right;
}
